*{  margin: 0px;  padding: 0px; }
a{ text-decoration: none; }
li{ list-style-type: none; }

header{
   width: 100%;
   border: 1px solid red;
}

header > #gnb{
   width: 100%;
   background-color: #353535;
}

header > #gnb  >ul{
   width: 1000px;
   height: 30px;
   border: 0px solid green;
   margin: 0px auto;
}

header > #gnb  li{
   float: left;
   margin-left: 50px;
}

header > #gnb  a{
      color: #fff;
}

header > #logo{
   width: 200px;
   height: 100px;
   border: 1px solid #ccc;
   margin: 70px auto;
   text-align: center;
   line-height: 100px;
}

header > #hit_menu > ul{
   border: 0px solid green;
   width: 1000px;
   margin: 0px auto;
   overflow: hidden;
}

header > #hit_menu li{
   width: 100px;
   height: 45px;
   border: 1px solid #ccc;
   text-align: center;
   line-height: 45px;
   float:right;
   border-right-width: 0px;
}

header > #hit_menu li:nth-child(1){
   border-right-width: 1px;
   border-radius: 0px 10px 10px 0px;
}

header > #hit_menu li:nth-child(4){
   border-radius: 10px 0px 0px 10px;
}

