#content{
   /* width: 1000px; */
   margin: 0px auto;
   border: 0px solid red;
   overflow: hidden;

   width: 55vw;
   display: grid;

   grid-template-columns: 0.5fr 1fr 0.8fr;
   grid-template-areas: "main_nav main banner";
   grid-column-gap: 10px;
}

#content  > #main_nav{
   border: 0px solid blue;
   /* width: 155px;
   float:left;*/

   grid-area: main_nav;
} 

#content  > #main_nav li{
   height: 35px;
}

#content  > #main{
   border: 0px solid red;
   /* width: 600px;
   float: left; */

   grid-area: main;
}

#content  > #main > div{
   width: 590px;
   border: 1px solid #ccc;
   margin-top: 2px;
}

#content  > #main > div:nth-child(1){
   height: 300px;
}

#content  > #main > div:nth-child(2){
   height: 150px;
}

#content  > #main > div:nth-child(3){
   background-color: #500095;
   height: 50px;
}

#content  > #main > div:nth-child(3) > ul{
   display: flex;
   justify-content: center;
}

#content  > #main > div:nth-child(3) li{
   /* float:left; */
   font-size: 1.1em;
   color: #fff;
   margin-right: 23px;
}

#content  > #main > div:nth-child(3) ~ div{
   height: 120px; 
}

#content  > #main_banner{
   border: 0px solid green;
   /* width: 230px;
   float:left; */

   grid-area: banner;
}

#content  > #main_banner >div{
   width: 229px;
   border: 1px solid #ccc;
   margin-top: 5px;
}

#content  > #main_banner >div:nth-child(1),
#content  > #main_banner >div:nth-child(2){
   height: 100px;
}

#content  > #main_banner >div:nth-child(3){
   height: 150px;
}

#content  > #main_banner >div:nth-child(4){
   height: 200px;
}

#content  > #main_banner >div:nth-child(5){
   height: 300px;
}